<script type='text/javascript'>
  $(function() {
      Dashing.widget_base_dimensions = [370, 340]
      Dashing.numColumns = 4
      });
    </script>

    <% content_for(:title) { "Dashboard" } %>

    <div class="gridster">
      <ul>
        <!-- Foursquare -->
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="foursquare" data-view="Foursquare"></div>
        </li>

      </ul>
    </div>
